[build-system]
requires = ["setuptools", "wheel"]

[project]
name = "vmcon"
version = "1.0.0"
description = "python implementation of the VMCON non-linear constrained optimiser."
authors = [{name = "Timothy Nunn", email = "timothy.nunn@ukaea.uk"}]
dependencies = [
    "numpy>=1.19",
    "scipy>=1.6",
    "cvxpy>=1.1"
]

[tool.setuptools.packages.find]
where = ["src"]