name: PyVMCON test workflow
on:
  pull_request:
  push:

jobs:
  test_pyvmcon:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - uses: actions/checkout@v3
      - name: Install pytest
        run: pip install pytest
      - name: Install PyVMCON
        run: pip install .
      - name: Run pytest
        run: pytest tests/
